/**
 * DEPRECATED: Admin CSS - Verwende assets/css/churchtools-suite-admin.css
 * Diese Datei ist deprecated und wird nicht mehr verwendet.
 * Alle Styles wurden in assets/css/churchtools-suite-admin.css konsolidiert.
 * 
 * @deprecated v1.0.3.8
 * @see assets/css/churchtools-suite-admin.css
 */

/* WARNUNG: Diese Datei sollte NICHT editiert werden! */
/* Bearbeite stattdessen: assets/css/churchtools-suite-admin.css */



